#MainContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.layers {
    position: absolute;
}

#layer1 {
    background-color: pink;
    left: 0%;
    top: 8%;
    width: 34%;
    height: 3000px;
}

#layer2 {
    background-color: green;
    left: 34%;
    top: 8%;
    width: 34%;
    height: 9000px;
}

#layer3 {
    background-color: red;
    left: 68%;
    top: 8%;
    width: 34%;
    height: 4500px;
}