.carousel {
    width: 400px;
    overflow: hidden;
}

.cards {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 100%;
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
}
#prev,
#next {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}