*, *::before, *::after 
{
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;

  scrollbar-width: none;

  font-size: 12pt;
}

:root
{
  --black : #000000;
  --green : #B8FF10;
  --dimGreen :  #b7ff103d;
  --darkGrey : #111111;
  --grey5 : #1a1a1a;
  --lightGrey : #757575;
  --white : white;
  --dimWhite : #ffffff23;
  --dimmerWhite : #ffffff2a;

  --topBarTopSpace : 10px;
  --topSpaceAddition : 10px;
}

p, h1, h2 
{
  margin-top: 0;
  line-height: 1.2;
}

a
{
  text-decoration: none;
}

::selection
{
    color: var(--green);
    background-color: var(--dimGreen);
}


@font-face {
  font-family: 'roboto_mono';
  src: url('roboto_mono_family/RobotoMono-Regular.ttf') format('truetype');
  font-size: auto;
}

