#textBlock
{
  background-color: var(--black);
  height : auto;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  ".. i1 i2 gb ..";
  
  transition: 0.2s ease-in-out;
}

.inTextBlock
{
  background-color: var(--black);

  font-size: 12pt;
  
  padding-top: 6vh;
  padding-bottom: 7vh;
  padding-right: 30px;
  margin: 0%;
  height: 100%;
  /* border : 1px solid rgba(255, 255, 255, 0.075); */
}

#infoBox
{
  grid-area: i1;
}

#infoBox2
{
  grid-area: i2;
}
