#topBar:hover ~ #titleDiv
{
  margin-top: 110px;
}

#titleDiv
{
  margin-top: 60px;
  background-color: var(--darkGrey);
  width : 100%;
  aspect-ratio: 3/1;

  position: relative;
  
  transition: 0.2s ease-in-out;
}
